<app-practice-header></app-practice-header>
<form [formGroup]="golfHoleForm" novalidate>
  <div *ngIf="currentGolfHole" class="container">
      <div class="row">
        <div><label>Hole Id</label></div>
        <div>{{currentGolfHole.holeId}}</div>
      </div>
      <div class="row">
        <div><label>Skill Level</label></div>
        <div>{{currentGolfHole.skill}}</div>
      </div>
      <div class="row">
        <div><label>Par</label></div>
        <div>{{currentGolfHole.par}}</div>
      </div>
      <div class="row">
        <div><label>Distance</label></div>
        <div>{{currentGolfHole.distance}}</div>
      </div>
      <div class="row">
        <div><label>Ave Swings To Green</label></div>
        <div>{{currentGolfHole.averageSwingsToGreen}}</div>
      </div>
      <div class="row">
        <div><label>Hazard(s)</label></div>
        <div>{{currentGolfHole.hazard}}</div>
      </div>
    </div>
</form>
<app-practice-nav [currentGolfHole]="currentGolfHole"></app-practice-nav>
