<app-practice-header></app-practice-header>
<div class="spacer"></div>
  <div *ngIf="currentGolfHole" class="container mat-typography">
      <div class="row">
        <label>Hole Id:</label>&nbsp;{{currentGolfHole.holeId}}
      </div>
      <div class="row">
        <label>Skill Level:</label>&nbsp;{{currentGolfHole.skill}}
      </div>
      <div class="row">
        <label>Par:</label>&nbsp;{{currentGolfHole.par}}
      </div>
      <div class="row">
        <label>Distance:</label>&nbsp;{{currentGolfHole.distance}}
      </div>
      <div class="row">
        <label>Ave Swings To Green:</label>&nbsp;{{currentGolfHole.averageSwingsToGreen}}
      </div>
      <div class="row">
        <label>Hazard(s):</label>&nbsp;{{currentGolfHole.hazard}}
      </div>
  </div>
<div class="spacer"></div>
<app-practice-nav></app-practice-nav>
